@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
  
}
/* shared  */
.title-color-and-font-size{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin: 40px 0;
}
.width-of-section{
    width: 1280px;
    margin: 0 auto;
}
   
.btn{
    background-color: #006a50;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fff;
    border: 1px solid  #fff;
    color: #0e0e0ecc;
    border: 1px solid #006a50;
}
/* header-area start */


nav{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h4{
    color: #0e0e0e;
    font-size: 32px;
    font-weight: 700;
}
.sing-in-btn{
    padding: 10px 20px;
    height: 40px;
    border: 1px solid #006a50;
    border-radius: 8px;
    color: #006A50;
}

.hero-area{
    display: flex;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    background-color: #C6E4D6;

}
.hero-text{
    margin-left: -20px;
}
.hero-text h3{
    font-size: 56px;
    font-weight: bold;
    margin: 10px 0;
}
/* header area end */
/* first section start*/
.first section{
    padding: 100px 0;
}
.first-section-parent{
    display: flex;
    gap: 24px;
}
.singal-box{
    background-color: white;
    border-radius: 16px;
    padding:15px ;
}
.singal-box h6{
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
/* first section end */
/* second-section start */
.vision-dic{
    margin: 15px 0;
    color: #0E0E0E;
}
.second-section-parent{
    display: flex;
    gap: 24px;
}

.singal-Vision{
    border-radius: 16px;
    padding:35px;
    margin-top: 10px;
}
.singal-Vision h6{
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.singal-Vision a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    color:#0e0e0e;
    border-radius: 8px;
}
/* second-section end */
/* therd section start */
.quotation-box{
    background-image: url('img/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 2% -3%;
    background-color: white;
    padding: 25px 23px;
    border-radius: 16px;
    margin: 30px 0;
   
}
.quotation-box p{
   margin-bottom: 10px;
   
}
/* therd section end */
/* fifith section start */
.recent-news{
    display: flex;
    gap: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 24px;
    margin-top: 30px;
}
.recent-news > div img{
    border-radius: 24px;
}
.singal-recent-news h4{
    color: #0e0e0e;
    font-size: 32px;
    font-weight: 700;
}
.singal-recent-news p{
    color: #0e0e0ec0;
    line-height: 30px;
    margin: 20px 0;

}

/* fifith section end */
/* six section start */
.donation-parent{
    
    justify-content: center;
    text-align: center;
}
.donation-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.donation-box h3{
    padding: 35px 30px;
    background-color: white;
    border-radius: 16px;
    margin: 20px 0;
    color: #0E0E0E;
}
.donation-box h3:hover{
    background-color: #C6E4D6;
}
.donation-parent input[type="text"]{
    width: 1032px;
    height: 64px;
    text-align: center;
    border: none;
    margin-bottom: 30px;
}

/* six section end */
/* seventh section start */
.news-letter{
    margin: 50px 0;
    padding: 80px 100px;
    text-align: center;
    background-color:#C6E4D6;
    border-radius: 24px;
}
.news-letter p{
    color:#0E0E0E;
    line-height: 24px;
}
.news-letter input[type="email"]{
    width: 632px;
    padding: 30px 20px;
    border-radius:10px 0 0 10px ;
    border: none;
    margin: 30px 0;
}
.news-letter input[type="submit"]{
    background-color: #006a50;
    margin-left: -6px;
    padding: 27px 50px;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

/* seventh section end */
/* footer start */
footer{
    text-align: center;
}
footer div a{
    margin-left:15px ;
}
/* footer end */

